.ipynb_checkpoints/
bwa/
reference
logs
job_logs
fastq
bwa_alignments
filtered_fastq
kraken
deseq2
per_genus_fastq
taxonomy
__pycache__
images
*txt
databases
old_analysis
.snakemake
mappings
classification_databases
metaphlan
analysis